ul.nav.nav-pills.nav-stacked.nav-default > li > a {
	border-radius: 0;
	color: #778291;
	padding: 12px 15px;
}

ul.nav.nav-pills.nav-stacked.nav-default > li > a:hover {
	color: #444d5a;
}

ul.nav.nav-pills.nav-stacked.nav-default > li.active > a {
	color: #ffffff;
	font-weight: bold;
}

ul.nav.nav-pills.nav-stacked.nav-default > li.active > a:hover {
	color: #dbe7f1;
}

.nav-stacked.nav-default > li + li {
	border-top: 1px solid #f1f1f1;
	margin-top: 0;
}