/* Widgets */
.widget, .module {
	position: relative;
	margin: 0 auto;
}

.widget-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(0,0,0,.8);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
	z-index: 1029;
}

.widget-hover-content {
	position: absolute;
	top: 30%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.widget-hover-content h4 {
	font-family: Arial, Sans-serif;
	color: #fff;
}

.widget-hover-content > .btn-group {
	border: 3px solid rgba(255,255,255,.15);
}

/* Zones */
.live-editor-zone {
	background: rgba(255,255,255,.7);
	padding: 10px;
	margin-top: 10px;
}

.live-editor-zone > h3 > .btn-group {
	border: 3px solid rgba(255,255,255,.7);
}

.live-editor-zone > h3 {
	font-family: Arial, Sans-serif;
	margin-top: 6px;
	margin-bottom: 7px;
}

/* Rows */
.live-editor-row-header {
	background: rgba(255,255,255,.9);
	padding: 10px;
	height: 57px;
	margin-top: 10px;
}

.live-editor-row-header > .btn-group {
	border: 3px solid rgba(0,0,0,.3);
	float: right;
}

.live-editor-row-header > h3 {
	font-family: Arial, Sans-serif;
	margin-top: 6px;
	margin-bottom: 7px;
}

/* Cols */
.live-editor-col {
	background: rgba(66,139,202,.9);
	padding: 10px;
}

.live-editor-col > .btn-group {
	border: 3px solid rgba(255,255,255,.3);
	float: right;
}

.live-editor-col > h3 {
	font-family: Arial, Sans-serif;
	margin-top: 6px;
	margin-bottom: 7px;
	color: #fff
}

/* Sortable */
.live-editor-placeholder {
	border: 2px dotted #aee4f6;
	height: 50px;
}