html, body, #page-wrapper {
	height: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

body {
	background: #f3f3f4;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #49525f;
}

* {
	-webkit-transition:color 250ms ease-out, background 250ms ease-out, opacity 250ms ease-out;
	-moz-transition:color 250ms ease-out, background 250ms ease-out, opacity 250ms ease-out;
	-o-transition:color 250ms ease-out, background 250ms ease-out, opacity 250ms ease-out;
	transition:color 250ms ease-out, background 250ms ease-out, opacity 250ms ease-out;
}

a {
	color: #2EA2DA;
}

a:hover {
	color: #236686;
	text-decoration: none;
}

#wrapper {
	background: #f3f3f4;
	position: relative;
	min-height: 100%;
}

#page-wrapper {
	padding: 64px 15px 0;
	height: 100%;
	background-color: #f3f3f4;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

#page-wrapper h1.page-header {
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	text-transform: none;
	padding-bottom: 6px;
	margin: 6px 0 9px;
	border-bottom: none;
	color: #586779;
}

#page-wrapper h1.page-header > i.fa {
	color: #25C7F0;
	font-size: 24px;
	margin-right: 5px;
	display: inline-block;
	width: 60px;
	text-align: center;
	border-radius: 100%;
	padding: 16px;
	background-color: #fff;
	border: 2px solid #E0E4E6;
}

#page-wrapper h1.page-header > small {
	text-transform: none;
	color: #8f9eb1;
	font-weight: 600;
	margin-left: 10px;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 55px;
	z-index: 1001;
}

.navbar-header {
	min-width: 250px;
	background-color: #fff;
	height: 54px;
}

.navbar-default {
	background-color: #fff;
}

.navbar-default .navbar-brand {
	color: #586779;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
}

.navbar-default .navbar-brand:hover {
	color: #929BA6;
}

.navbar-brand {
	min-width: 250px;
	height: 55px;
	font-size: 18px;
	line-height: 16px;
	padding: 9px 0 10px;
}

a.navbar-brand span.nf-version {
	border-radius: 5px;
	padding: 0 5px;
	font-size: 10px;
	text-align: center;
	display: block;
	width: 85px;
	background-color: #25C7F0;
	color: #fff;
	position: relative;
	z-index: 2;
	margin: auto;
	margin-top: 3px;
}

.navbar-default .navbar-nav.navbar-left > li {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.navbar-default .navbar-nav.navbar-left > li > a {
	font-weight: 600;
	font-size: 13px;
	padding: 17px 13px;
	color: #91969c;
}

.navbar-default .navbar-nav.navbar-left > li > a.toggle-menu {
	padding: 17px 21px 14px;
}

.navbar-default .navbar-nav.navbar-left > li > a.toggle-menu i.fa {
	font-size: 21px;
	color: #929BA6;
}

.navbar-default .navbar-nav.navbar-left > li:hover > a {
	color: #2EA2DA;
}

.navbar-default .navbar-nav.navbar-left > li:hover {
	border-left: 1px solid #e2e6e8;
	border-right: 1px solid #e2e6e8;
}

.navbar-default .navbar-nav.navbar-left > li > a i.fa {
	color: #4d5868;
	font-size: 13px;
	margin-right: 3px;
}

.navbar-default .navbar-nav.navbar-left > li:hover a i.fa {
	color: #929BA6;
}

.navbar-top-links li a {
	min-height: 55px;
	padding: 15px;
}

.navbar-top-links li a:hover {
	background-color: #f6f6f6;
}

.navbar-top-links li.back-site a {
	font-family: 'Signika Negative', sans-serif;
	font-weight: 400;
	font-size: 13px;
	padding: 17px 13px;
	color: #91969c;
}

.sidebar {
	position: fixed;
	top: 55px;
	margin: 0;
	background-color: #23272d;
	height: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

.sidebar.toggle {
	margin-left: -250px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.sidebar .sidebar-search {
	padding: 10px;
	background-color: #383E47;
}

.sidebar ul li {
	border-bottom: 1px solid #262A31;
	background-color: #21242B;
}

.sidebar .nav > li > a:hover, .sidebar .nav > li.active > a {
	background-color: #1F2227;
}

ul#side-menu.nav > li > a {
	font-weight: 600;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	color: #A7B1C2;
	padding: 13px 18px;
}

ul#side-menu.nav > li:hover > a {
	color: #fff;
}

ul#side-menu.nav i.fa {
	text-align: center;
	color: #fff;
	width: 15px;
	font-size: 14px;
}

ul#side-menu.nav .nav-second-level i.fa {
	font-size: 12px;
}

ul#side-menu.nav > li:hover i.fa {
	color: #fff;
}

ul#side-menu.nav a.active i.fa {
	color: #f1f1f1;
}
ul#side-menu.nav > li > .nav-second-level.collapse:not(.in) {
	display: none;
}
ul#side-menu.nav > li.sidebar-user:hover ul.dropdown-menu i.fa {
	color: #428bca;
}

.sidebar ul li a.active, .sidebar ul li a:focus {
	background-color: #181b1f;
	color: #fff;
	border-left: 3px solid #2EA2DA;
	padding-left: 12px;
}

.sidebar ul li a.active, .sidebar ul li .nav-second-level li a:focus {
	padding-left: 45px;
}

.sidebar .nav-second-level li a {
	padding-left: 45px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #1F2227;
	font-size: 12px;
	font-weight: 300;
	color: #E0E0E0;
}

.sidebar .nav-third-level li a {
	padding-left: 75px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.sidebar .nav-second-level li a:hover, .sidebar .nav-third-level li a:hover {
	background-color: #181B1F;
	color: #f1f1f1;
}

.sidebar ul.nav-second-level li a.active {
	padding-left: 41px;
}

.sidebar ul li.sidebar-user {
	background: url('../images/bg.jpg') top center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding: 20px 15px;
	box-shadow: 0 5px 10px rgba(32, 38, 46, 0.25) inset;
	border-bottom-width: 0;
}

.sidebar ul.dropdown-menu {
	border-radius: 3px;
	font-size: 11px;
	margin: 0;
	padding: 0;
	min-width: 180px;
}

.sidebar ul.dropdown-menu > li:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.sidebar ul.dropdown-menu > li:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.sidebar ul.dropdown-menu > li {
	background-color: #fff;
	border-bottom: 1px solid #e7edeb;
	
}

.sidebar ul.dropdown-menu > li > a {
	padding: 10px;
	font-weight: 600;
	color: #6b7788;
}

li.sidebar-user ul.dropdown-menu > li > a i.fa {
	color: #25AFD2;
}

.sidebar ul.dropdown-menu > li > a:hover {
	color: #2f3640;
}

.sidebar-user span.user-name {
	color: #fff;
}

.sidebar-user img.img-circle {
	max-height: 50px;
	max-width: 50px;
}

.sidebar ul li.sidebar-user span.alert-badge {
	background-color: #5cb85c;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	border-radius: 15px;
	padding: 2px 6px;
	float: right;
	margin-top: -8px;
	margin-right: -10px;
	z-index: 1;
	position: relative;
}

.list-group.event-legend > li.list-group-item {
	font-size: 12px;
	font-weight: 400;
	padding: 8px 12px;
}

/* Boutons */

.module .panel .btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
}

/* Panels */

.panel {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	margin-bottom: 15px;
	border-radius: 0;
	border-color: #E0E4E6;
	border-top-width: 3px;
}

.panel.panel-info {
	border-color: #BCE8F1;
}

.panel.panel-danger {
	border-color: #ebccd1;
}

.panel.panel-danger .panel-heading h3.panel-title {
	color: #D47373;
}

.panel.panel-danger .panel-heading h3.panel-title i.fa {
	color: #B74747;
}

.panel-back {
	border-width: 0;
	box-shadow: none;
}

.panel-title {
	font-weight: 600;
	font-size: 14px;
	padding: 5px 0 3px;
	font-family: 'Open Sans', sans-serif;
	color: #4B5A6D;
	text-overflow: ellipsis;
}

.panel-title > i.fa {
	margin-right: 9px;
	color: #9CA8B9;
	font-size: 14px;
}

.panel-heading {
	min-height: 48px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.panel-default > .panel-heading {
	background-color: #fff;
	border-color: #e7eaec;
}

.panel-default > .panel-footer {
	background-color: #edeef1;
	border-color: #e7eaec;
}

.panel-default {
	border-bottom-color: #d1d9e0;
}

.panel-back {
	background-color: transparent;
	box-shadow: none;
}

.panel-default ul.nav.nav-tabs {
	margin-bottom: 10px;
}

.table-event-legend span.label {
	display: inline-block;
	min-width: 50px;
	text-align: center;
	font-size: 14px;
}

/* FORMULAIRE */

.form-control {
	border-radius: 0;
	box-shadow: none;
	border-color: #ebebeb;
	height: 38px;
	color: #576478;
	font-weight: 400;
}

.form-horizontal .form-group {
	margin-right: -10px;
}

.input-group-addon {
	border-color: #ebebeb;
	border-radius: 0;
}

.help-block {
	color: #9dadb9;
}

.input-group-addon label {
	font-weight: 400;
}

.wysibb .wysibb-text {
	padding: 10px;
}

.widget.widget-talks .panel .panel-body .media img {
	border-radius: 100%;
}

.widget.widget-talks .panel .panel-footer span.input-group-btn .btn {
	padding: 8px 12px;
}

/* Bouttons */

.btn {
	border-radius: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 500;
}

.btn-lg {
	font-size: 15px;
	padding: 14px 16px;
}

.btn-outline {
	background-color: rgba(255,255,255,.5);
}

.btn-outline.btn-primary, .btn-outline.btn-default, .btn-outline.btn-success, .btn-outline.btn-danger, .btn-outline.btn-warning, .btn-outline.btn-info {
	background-color: rgba(255,255,255,.5);
}

.btn-outline.btn-default:hover, .btn-outline.btn-default:focus {
	border-color: #525252;
	background-color: #3f3f3f;
}

.btn-outline.btn-success:hover, .btn-outline.btn-success:focus {
	border-color: #46a546;
	background-color: #248a24;
}

.btn-outline.btn-primary:hover, .btn-outline.btn-primary:focus {
	border-color: #3981bf;
	background-color: #3278b5;
}

.btn-outline.btn-info:hover, .btn-outline.btn-info:focus {
	border-color: #44b2d3;
	background-color: #2fa1c3;
}

.btn-outline.btn-danger:hover, .btn-outline.btn-danger:focus {
	border-color: #cd3a35;
	background-color: #c0201a;
}

.btn-outline.btn-warning:hover, .btn-outline.btn-warning:focus {
	border-color: #e79b2e;
	background-color: #e4911a;
}

.btn-primary {
	background-color: #428bca;
	border-color: #337ab7;
}

.btn-primary:hover {
	background-color: #3278b5;
	border-color: #2d6fa7;
}

ul#side-menu.nav .btn.btn-user {
	margin-top: 3px;
	padding: 4px 6px;
	background-color: rgba(0,0,0,.20);
	border-radius: 3px;
	border: 1px solid #556978;
	color: #e6e6e6;
}

.btn.navbar-btn {
	margin-right: 10px;
	margin-top: 11px;
	font-size: 12px;
	color: #91969c;
	border-color: #ced5db;
}

.btn.navbar-btn > i.fa {
	color: #2e363f;
}

.btn.navbar-btn:hover {
	color: #2e363f;
	background-color: #ecf1f7;
}

ul#side-menu.nav .btn.btn-user > i.fa {
	color: #d5dee5;
}

ul#side-menu.nav .btn.btn-user:hover, ul#side-menu.nav .btn.btn-user:focus {
	background-color: rgba(0,0,0,.30);
}

ul#side-menu.nav .btn.btn-user:hover > i.fa, ul#side-menu.nav .btn.btn-user-logout:hover > i.fa {
	color: #fff;
}

ul#side-menu.nav .btn.btn-user i.fa, ul#side-menu.nav .btn.btn-user-logout i.fa {
	margin: 0;
}

ul#side-menu.nav .btn.btn-user-logout {
	margin-top: 3px;
	padding: 5px 6px 4px;
	background-color: rgba(0,0,0,.20);
	border-radius: 3px;
	border: 1px solid #556978;
	color: #d8c5c5;
}

ul#side-menu.nav .btn.btn-user-logout > i.fa {
	color: #d9534f;
}

ul#side-menu.nav .btn.btn-user-logout:hover, ul#side-menu.nav .btn.btn-user-logout:focus {
	background-color: #e3403c;
	border-color: #e3403c;
}

ul.nav.nav-tabs > li {
	font-weight: 600;
}

ul.nav.nav-tabs > li > a i.fa {
	margin-right: 5px;
}

/* Small box */

.small-box {
	opacity: .85;
}

.small-box:hover {
	opacity: 1;
}

.small-box > .small-box-footer {
	font-size: 12px;
	font-weight: 600;
}

.small-box > .small-box-footer > i.fa {
	font-size: 13px;
}

/* Modification des marges sur les colonnes et lignes */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 8px;
	padding-right: 8px;
}

.row {
	margin-left: -8px;
	margin-right: -8px;
}

/* Widgets */

.widget-talks h4.media-heading {
	font-size: 14px;
	font-weight: 600;
}

.widget-talks h4.media-heading small {
	margin: 0 5px;
}

/* Page actions */

.page-actions {
	position: absolute;
	top: 20px;
	right: 8px;
}

/* Format responsive */

@media (max-width: 1200px) {
	.navbar-header {
		min-width: 220px;
	}
	.navbar-brand {
		min-width: 220px;
	}
	.sidebar {
		width: 220px;
	}
	#page-wrapper {
		margin: 0 0 0 220px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition:all 0.5s ease-in-out;
		-o-transition:all 0.5s ease-in-out;
		transition:all 0.5s ease-in-out;
	}
	#page-wrapper.fullwidth {
		margin: 0;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition:all 0.5s ease-in-out;
		-o-transition:all 0.5s ease-in-out;
		transition:all 0.5s ease-in-out;
	}
	.page-actions {
		top: 15px;
	}
}

@media (max-width: 992px) {
	.sidebar-user img.img-circle {
		max-height: 80px;
		max-width: 80px;
	}
	li.sidebar-user {
		text-align: center;
	}
	li.sidebar-user .user-name {
		display: inline-block;
		padding: 8px 0;
	}
	.sidebar .nav-second-level li a, .sidebar ul.nav-second-level li a.active {
		padding-left: 18px;
	}
	.form-horizontal .control-label {
		padding: 0 10px 3px;
	}
}

@media(min-width:768px) {
	.form-horizontal .control-label {
		padding-top: 9px;
	}
}

@media(max-width:768px) {
	.navbar-header {
		min-width: 53px;
	}
	.navbar-brand {
		margin-left: 60px;
		width: calc(100% - 120px);
	}
	div.navbar-default {
		border-width: 0 !important;
	}
	.sidebar {
		position: absolute;
		width: 53px;
		margin-top: -1px;
		height: calc(100% - 54px);
		-webkit-overflow-scrolling: touch;
		display: none;
	}
	#page-wrapper {
		position:relative;
		z-index: 1;
		margin: 0;
	}
	.sidebar ul li.sidebar-user {
		padding: 12px;
	}
	.sidebar ul li.sidebar-user img.img-circle,
	.sidebar ul li.sidebar-user span.user-name,
	.sidebar ul li.sidebar-user i.fa.fa-angle-down,
	ul#side-menu.nav > li > a > span.fa.arrow {
		display: none;
	}
	ul#side-menu.nav > li.active {
		border-left: 3px solid #2ea2da;
	}
	ul#side-menu.nav > li ul.nav.nav-second-level.collapse {
		min-width: 220px;
		box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.35);
		position: absolute;
		left: 50px;
		margin-top: -44px;
		z-index: 3;
		display: none;
	}
	ul#side-menu.nav > li ul.nav.nav-second-level.collapse > li > a {
		padding-left: 10px;
	}
	ul#side-menu.nav > li.active ul.nav.nav-second-level.collapse {
		left: 50px;
	}
	ul#side-menu.nav > li.active > a {
		border-left-width: 0;
	}
	nav.navbar .btn-default.back-to {
		position: absolute;
		right: 10px;
		top: 10px;
	}
	nav.navbar .btn-default.touch-menu {
		position: absolute;
		left: 10px;
		top: 10px;
	}
	#page-wrapper h1.page-header {
		position: relative;
		font-size: 22px;
	}
	#page-wrapper h1.page-header > small {
		display: block;
		font-size: 13px;
		position: absolute;
		top: 31px;
		left: 62px;
	}
	#page-wrapper h1.page-header > i.fa {
		padding: 10px;
		font-size: 18px;
		width: 42px;
	}
	.page-actions {
		position: initial;
		margin: 10px 0 15px;
	}
	
	/* Slideout menu */

	.slideout-open body {
		overflow-x: hidden;
	}

	.slideout-open .slideout-menu {
		display: block;
	}
}